
<link rel="stylesheet" type="text/css" href="Site.css" />
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <h1><a href="@Url.Action("Index", "Home")"><img src="http://i.imgur.com/7eehxKT.png?1" alt="WebLogo" width="90" height="90" /></a>tra</h1>
    <div class="MenuBar">
        <input type="text" />
        <select>
            <option value="" disabled="disabled" selected="selected"> Flokkar </option>
            <option value="1"> Kvikmyndir </option>
            <option value="1"> &#254;&#230;ttir </option>
            <option value="1"> N&#253;legt </option>
            <option value="2"> Vins&#230;lt </option>
        </select>
        @Html.ActionLink("Leita", "SearchSubtitle", "Subtitle")
        <br />
        @Html.ActionLink("Skoða beiðni", "Index", "Request")
        @Html.ActionLink("Setja inn Skjátexta", "Create", "Subtitle")
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="navbar-collapse collapse"> @Html.Partial("_LoginPartial") </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Letra - &Iacute;slensk skj&aacute;texta s&iacute;&eth;a</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
