@model IEnumerable<verklega.Models.Subtitle>
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="Site.css" />
<h2>Skjátextar</h2>
<p>

    @using (Html.BeginForm())
    {
    <p>
        @Html.TextBox("searchString") <br />
        <input type="submit" value="Leita að skjátexta" />
    </p>
    }
    </p>
    <table class="table">
        <tr>
            <th>
                Sett inn af
            </th>
            <th>
                Heiti myndefnis
            </th>
            <th>
                Tungumál
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    <form action="ViewSubtitle" method="post" enctype="multipart/form-data">
                        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.ActionLink(item.Title, "ViewSubtitle", new { id = item.ID }, new { @class = "Title" })
                        }
                    </form>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language.TextLanguage)
                </td>
                <td>
                    @Html.ActionLink("Download", "GetFile", new { Id = @item.ID }, new { @class = "Download" })
                </td>
            </tr>
        }
    </table>