@model IEnumerable<verklega.Models.Request>
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="Site.css" />
@Html.ActionLink("Leita", "Index", "Subtitle")
@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("InputString") <br />
        <input type="submit" value="Leita" />
    </p>
}
<h2>Yfirlit yfir bei&eth;ni</h2>
<table class="table">
    <tr>
        <th>
            Notandi
        </th>
        <th>
            Skjátexti
        </th>
        <th>
            Tungumál
        </th>
        <th>Flokkur</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtitle.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtitle.Language.TextLanguage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtitle.Category)
            </td>
        </tr>
    }
</table>